body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

big-font,
.big-font {
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  color: inherit;
  margin: .4em 0;
  padding: .2em 0;
  font-size: 2.5em;
}

big-font small,
.big-font small {
  font-size: 40%;
  font-weight: 700;
  line-height: 1;
  color: #777;
}
