{% extends "base.html" %}
{% block title %}
<title>VM Monitoring</title>
{% endblock title %}

{% comment %}{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('VM Monitoring') }}</a></h1>
{% endblock %}{% endcomment %}
