{% extends 'base.html' %}
{% block title %}<title>NEO-Admin</title>{% endblock %}

{% block common_content %}
    <p></p>
    <div class="alert alert-success" role="alert">
        <p>Deploy is processing... A notification email will be sent to you after deployment</p>
    </div>
    <a type="button" class="btn btn-lg btn-primary col-sm-2 col-xs-4 col-sm-offset-5 col-xs-offset-4" href="/vsphere" methods="get">Done</a>
{% endblock %}
