<div id="add_disk_info" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
                <h3>Add Disk</h3>
            </div>
            <form method="POST" action="/vsphere/detail/{{vm_info.uuid}}/adddisk">
                <div class="modal-body">
                <fieldset>
                    <div class="control-group form-inline">
                        <table class="table">
                            <tr>
                                <td class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label class="control-label" for="size">Size: </label></td>
                                <td><input type="text" class="form-control" name="size" placeholder=512 value=512><a>&nbsp;&nbsp;GB</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="control-group form-inline">
                        <table class="table">
                            <tr>
                                <td class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label class="control-label" for="provisiontype">Provision Type: </label></td>
                                <td>
                                    <select name="provisiontype">
                                        <option value="thin" selected>thin</option>
                                        <option value="thick">thick</option>
                                        <option value="thick_lazy">thick lazy</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="control-group form-inline">
                        <table class="table">
                            <tr>
                                <td class="col-lg-4 col-md-4 col-sm-6 col-xs-6"><label class="control-label" for="provisiontype">Virtual Device Node: </label></td>
                                <td>
                                    <div class="dropdown">
                                        <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">SCSI (0:1)<span class="caret" /></button>-->
                                        <select name="wwid">
                                            <option value="SCSI(0:3)" selected>SCSI(0:3)</option>
                                            <option value="SCSI(0:4)">SCSI(0:4)</option>
                                            <option value="SCSI(0:5)">SCSI(0:5)</option>
                                            <option value="SCSI(1:6)">SCSI(1:6)</option>
                                            <option value="SCSI(2:8)">SCSI(2:8)</option>
                                            <option value="SCSI(3:4)">SCSI(3:4)</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="control-group form-inline">
                        <fieldset>
                            <label><input id="independenbox" type="checkbox" name="independent"  value="independent" onchange="AddDiskCheckboxChange()">&nbsp;&nbsp;Independen (Independent disks are not affected by snapshots)</label><br>                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input id="independenradio1" type="radio" name="disk_mode" value="independent_persistent" disabled>Persistant (Changes are immediately and permanently written to the disk)</label><br>                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label><input id="independenradio2" type="radio" name="disk_mode" value="persistent" disabled>Nonpersistant (Changes to this disk are discarded when you power off)</label>
                        </fieldset>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Add</button>
                <a href="" class="btn" data-dismiss="modal">Close</a>
            </div>
            </form>
            
        </div>
    </div>
</div>
<div id="remove_disk" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
                <h3>Remove Disk</h3>
            </div>
                <form method="POST" action="/vsphere/detail/{{vm_info.uuid}}/rmdisk">
            <div class="modal-body">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr style="background-color: #E8E8E8">
                                <th><input type="checkbox" name="wwid" value="ALL_DISKS"></th>
                                <th>WWID</th>
                                <th>Size</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disk in disks_info %}
                            <tr>
                                <td><input type="checkbox" name="wwid" value="{{disk.wwid}}"></td>
                                <td>{{disk.wwid}}</td>
                                <td>{{disk.size}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Remove</button>
                <a href="" class="btn" data-dismiss="modal">Close</a>
            </div>
            </form>
        </div>
    </div>
</div>